Package: dev.r58playz.kdeconnectjb
Name: kdeconnectjb
Version: 0.0.1
Architecture: iphoneos-arm64
Depends: firmware (>= 15.0)
Description: KDE Connect daemon and companion app for rootless jailbroken iOS.
Maintainer: r58Playz
Author: r58Playz
Section: System
Tag: role::hacker
